<!-- <a *ngFor="let method of methods" class="payment-method">
    <label [for]="method.id">{{method.name}} <img [src]="method.img_url" [alt]="method.name"></label>
    <input type="radio"
        name="method" id="{{method.id}}"  
        [(ngModel)]="selectedMethod"
        (change)="onChangePaymentMethod(method)"
        [value]="method.id" 
        required>

    
</a> -->
<div class="row" style="margin-top:10px;">
   
    <div class="col-sm-6" *ngFor="let method of methods" class="payment-item">
            <label [for]="method.id">
            <div class="card">
            <div class="card-body">
                <img class="card-img-top" [src]="method.img_url" [alt]="method.name" style="max-height: 100px; max-width: 100px;">
                <h6 style="max-width: 100px" class="card-title">{{method.name}}</h6>
                <input type="radio" name="method" id="{{method.id}}" [(ngModel)]="selectedMethod" (change)="onChangePaymentMethod(method)"[value]="method.id" required>
            </div>
            </div>
        </label>
    </div>
    
</div>
<!-- <div class="row">
    <div class="col-2">
        <div class="card" style="width: 18rem;" *ngFor="let method of methods">
            <img class="card-img-top" [src]="method.img_url" [alt]="method.name">
            <div class="card-body">
                <h5 class="card-title">{{method.name}}</h5>
                <input type="radio" 
                    name="method" id="{{method.id}}"  
                    [(ngModel)]="selectedMethod"
                    (change)="onChangePaymentMethod(method)"
                    [value]="method.id" 
                    required
                />
            </div>
        </div>
    </div>  
</div> -->